@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Outfit', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}


::-webkit-scrollbar {
    display: none;
}

.rich-text {
    font-size: 15px;
    color: #7A7B7D;
    line-height: 1.5;
}

.rich-text p {
    margin-bottom: 16px;
}

.rich-text h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #252525;
    font-weight: 800;
}

.rich-text h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
    color: #252525;
    font-weight: 700;
}

.rich-text h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
    color: #333333;
    font-weight: 600;
}

.rich-text h4 {
    font-size: 1em;
    margin: 1em 0;
    color: #444444;
    font-weight: 500;
}

.rich-text h5 {
    font-size: 0.83em;
    margin: 1.33em 0;
    color: #555555;
    font-weight: 400;
}

.rich-text h6 {
    font-size: 0.67em;
    margin: 1.67em 0;
    color: #666666;
    font-weight: 400
}

.rich-text strong {
    font-weight: 700;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 8px;
}

.rich-text a {
    color: #0066cc;
    text-decoration: underline;
}

.rich-text a:hover {
    color: #004499;
}

button {
    transition: all 0.15s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}